:root {
	--one: #88f2e8;
	--two: #41bfb3;
	--three: #2a8c82;
	--four: #275950;
	--five: #260101;
}
* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: var(--four);
}

::-webkit-scrollbar{
	width: 7px;
	background: #eee;
}
::-webkit-scrollbar-thumb{
	width: 7px;
	background: #ccc;
}